{% extends "layout.html" %}

{% block title %}
: faqs
{% endblock %}

{% block content %}
<link href="/static/icons/cloud-haze2-fill.svg" rel="icon">
{% endblock %}

{% block main %}
<br>
<br>
<br>
<br>
<!--Section: FAQ-->
<section class="m-5">
    <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
    <p class="text-center mb-5">
      Find the answers for the most frequently asked questions below
    </p>

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> How do I check the weather?</h6>
        <p>
          <strong><u>There are 2 ways!</u></strong> Either by clicking the picture on the main page or
          going into the menu and clicking on 'Weather'.
        </p>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> How do I add cities to my account?
        </h6>
        <p>
            <strong><u>There are also 2 ways!</u></strong> Either by clicking the on the 'add-city' link on the main page or
            going into the menu and clicking on 'Add-city'.
        </p>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> How many cities can I add?</h6>
        <p>
          <strong><u>The sky's the limit!</u></strong> you can add all your cities of interest!
        </p>
      </div>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> If I added a city into my account by accident,
            how do I remove the city?
        </h6>
        <p>
            <strong><u>Easypeasy!</u></strong> you can do so by going to the 'Edit-city' page and click the '-' button on the
            city you want to remove.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i> How do I check the cities that I have added to my account?
        </h6>
        <p><strong><u>Piece of cake!</u></strong> just go to the main page-either from the 'home' button in menu or the top
            left 'Wher'port' button and then just scroll down.</p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i> How long did it took you to code this?</h6>
        <p>
          <b>Wayyy too long :(</b>
        </p>
      </div>
    </div>
  </section>
  <!--Section: FAQ-->

{% endblock %}